*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

header{
    background:#59a2ea;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo {
    display: flex;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    background:white;
    padding:30px;
    text-align:center;
}

.categories{
    text-align:center;
    margin:20px;
}

.categories button{
    padding:10px 20px;
    margin:10px;
    border:none;
    background:#0066cc;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.products{
    width:90%;
    margin:auto;
    background:white;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

th{
    background:#003366;
    color:white;
}

input[type="number"]{
    width:60px;
    padding:5px;
}

.cart-btn{
    background:green;
    color:white;
    border:none;
    padding:8px 15px;
    cursor:pointer;
}

.cart, .users{
    width:90%;
    margin:20px auto;
    background:white;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
